---
- name: RapidPro: Manage Gunicorn service
  systemd:
    name: rapidpro-gunicorn
    state: "{{ 'started' if rapidpro_enabled else 'stopped' }}"
    enabled: "{{ rapidpro_enabled }}"
    daemon_reload: yes
  become: yes

- name: RapidPro: Manage Go services
  systemd:
    name: "{{ item }}"
    state: "{{ 'started' if rapidpro_enabled else 'stopped' }}"
    enabled: "{{ rapidpro_enabled }}"
    daemon_reload: yes
  loop:
    - rapidpro-mailroom
    - rapidpro-courier
  become: yes
