---
# Universal Binary Installation (VM & Android/Proot)

- name: "Set architecture fact"
  set_fact:
    rapidpro_go_arch: "{{ 'amd64' if ansible_architecture == 'x86_64' else 'arm64' }}"

- name: Install Mailroom Binary from Release (v26.1.18)
  get_url:
    url: "https://github.com/deldesir/mailroom/releases/download/v26.1.18/mailroom-linux-{{ rapidpro_go_arch }}"
    dest: /usr/local/bin/mailroom
    mode: '0755'
    force: yes
  become: yes

- name: Install Courier Binary from Release (v26.1.5)
  get_url:
    url: "https://github.com/deldesir/courier/releases/download/v26.1.5/courier-linux-{{ rapidpro_go_arch }}"
    dest: /usr/local/bin/courier
    mode: '0755'
    force: yes
  become: yes
