---
# Main Orchestrator for RapidPro Role

- name: Detect Environment (Proot vs Systemd)
  set_fact:
    is_proot: "{{ ansible_service_mgr != 'systemd' }}"

- name: Run Installation Tasks
  include_tasks: install.yml
  when: rapidpro_enabled

- name: Run Configuration Tasks
  include_tasks: configure.yml
  when: rapidpro_enabled

- name: Ensure Services are Started
  include_tasks: service.yml
  when: rapidpro_enabled

- name: Configure Nginx
  include_tasks: nginx.yml
  when: rapidpro_enabled

- name: Mark RapidPro as Installed
  lineinfile:
    path: /etc/iiab/iiab_state.yml
    line: "rapidpro_installed: true"
    create: yes
  become: yes
