DJANGO_SECRET_KEY='{{ organized_secret_key | default(django_secret_key.stdout) }}'
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS={{ iiab_hostname | default('box') }}.{{ iiab_domain | default('lan') }},127.0.0.1,localhost
DB_NAME={{ organized_db_name }}
DB_USER={{ organized_db_user }}
DB_PASSWORD={{ organized_db_pass }}
CELERY_BROKER_URL=redis://127.0.0.1:6379/1
RAPIDPRO_URL=http://127.0.0.1:8080
RAPIDPRO_API_TOKEN={{ organized_rapidpro_token | default('') }}
ORGANIZED_NOTIFICATION_FLOW_UUID={{ organized_notification_flow_uuid | default('') }}
ORGANIZED_WEBHOOK_SECRET={{ organized_webhook_secret | default('') }}
