# Social Code CLI aliases
alias social='python {{ social_code_src }}/social.py'
alias st='python {{ social_code_src }}/social.py st'
alias wit='python {{ social_code_src }}/social.py wit'
alias deep='python {{ social_code_src }}/social.py deep'
alias negotiate='python {{ social_code_src }}/social.py negotiate'
alias conduct='python {{ social_code_src }}/social.py conduct'
alias magnet='python {{ social_code_src }}/social.py magnet'
