---
- name: Install build dependencies
  apt:
    name:
      - golang
      - git
      - make
      - ffmpeg
      - sqlite3
      - libsqlite3-dev
    state: present
  become: yes

- name: Create Wuzapi directory
  file:
    path: "{{ wuzapi_dir }}"
    state: directory
- name: Add wuzapi directory to git safe directories
  command: git config --global --add safe.directory {{ wuzapi_dir }}
  become: yes
  changed_when: false

- name: Clone Wuzapi repository
  git:
    repo: 'https://github.com/asternic/wuzapi.git'
    dest: "{{ wuzapi_dir }}"
    force: yes
  become: yes
  register: wuzapi_clone

- name: Set ownership of Wuzapi directory
  file:
    path: "{{ wuzapi_dir }}"
    state: directory
    owner: "{{ iiab_admin_user }}"
    group: "{{ iiab_admin_user }}"
    recurse: yes
  become: yes

- name: Apply auth header patch
  patch:
    src: "auth_header.patch"
    basedir: "{{ wuzapi_dir }}"
    strip: 1
    remote_src: no
  become: yes
  notify: restart wuzapi

- name: Apply dashboard baseurl patch
  patch:
    src: "dashboard_baseurl.patch"
    basedir: "{{ wuzapi_dir }}"
    strip: 1
    remote_src: no
  become: yes
  notify: restart wuzapi

- name: Build Wuzapi
  shell: |
    export GOPATH=/home/{{ iiab_admin_user }}/go
    export GOCACHE=/home/{{ iiab_admin_user }}/.cache/go-build
    go build -o wuzapi
  args:
    chdir: "{{ wuzapi_dir }}"
  become: yes
  become_user: "{{ iiab_admin_user }}"
  when: wuzapi_clone.changed or wuzapi_force_rebuild | default(false)
  notify: restart wuzapi

- name: Install Wuzapi systemd service
  template:
    src: wuzapi.service.j2
    dest: /etc/systemd/system/wuzapi.service
  become: yes
  notify: restart wuzapi

- name: Enable and start Wuzapi service
  systemd:
    name: wuzapi
    state: started
    enabled: yes
    daemon_reload: yes
  become: yes

- name: Configure Nginx for Wuzapi
  template:
    src: wuzapi-nginx.conf.j2
    dest: /etc/nginx/conf.d/wuzapi.conf
  become: yes
  notify: reload nginx

- name: Mark wuzapi as installed
  lineinfile:
    path: /etc/iiab/iiab_state.yml
    line: "wuzapi_installed: True"
    create: yes
  become: yes


