[Unit]
Description=RiveBot Service (Brain Engine)
After=network.target

[Service]
Type=simple
User={{ rivebot_user }}
WorkingDirectory={{ rivebot_home }}
EnvironmentFile={{ rivebot_home }}/.env

ExecStart={{ rivebot_uv_bin }} run uvicorn rivebot.main:app --host 127.0.0.1 --port {{ rivebot_port }} --log-level info
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
