[Unit]
Description=LiteLLM Proxy Service
After=network.target

[Service]
Type=simple
User={{ litellm_user }}
WorkingDirectory={{ litellm_dir }}
# Using poetry to run the server
ExecStart=/usr/bin/poetry run litellm --host 127.0.0.1 --port {{ litellm_port }} --config {{ litellm_dir }}/proxy_config.yaml
Restart=always
RestartSec=10
EnvironmentFile={{ litellm_dir }}/.env


[Install]
WantedBy=multi-user.target
