[Unit]
Description=LiteLLM Proxy Service
After=network.target

[Service]
Type=simple
User={{ litellm_user }}
WorkingDirectory={{ litellm_dir }}
# Using poetry to run the server
ExecStart=/usr/bin/poetry run litellm --host 0.0.0.0 --port {{ litellm_port }} --config {{ litellm_dir }}/proxy_config.yaml
Restart=always
RestartSec=10
Environment=LITELLM_MASTER_KEY={{ litellm_master_key }}
{% for key, value in litellm_env.items() %}
Environment={{ key }}={{ value }}
{% endfor %}


[Install]
WantedBy=multi-user.target
