[Unit]
Description=RapidPro Gunicorn App Server
After=network.target postgresql.service {{ valkey_service_name }}
Wants=postgresql.service {{ valkey_service_name }}

[Service]
User={{ iiab_admin_user }}
Group=www-data
WorkingDirectory={{ rapidpro_dir }}
# Standardize on the app directory, not /run
UMask=0007
ExecStart={{ rapidpro_dir }}/.venv/bin/gunicorn temba.wsgi:application --access-logfile - --error-logfile - --workers 3 --bind unix:{{ rapidpro_dir }}/run/gunicorn.sock --forwarded-allow-ips=* --max-requests 1000 --max-requests-jitter 50
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
