[Unit]
Description=RapidPro Archiver Service
After=network.target postgresql.service {{ valkey_service_name }}

[Service]
User={{ iiab_admin_user }}
Group={{ iiab_admin_user }}
WorkingDirectory={{ rapidpro_dir }}

Environment='ARCHIVER_DB=postgres://{{ rapidpro_db_user }}:{{ rapidpro_db_pass }}@localhost/{{ rapidpro_db_name }}?sslmode=disable'
Environment='ARCHIVER_S3_REGION={{ rapidpro_aws_region }}'
Environment='ARCHIVER_S3_BUCKET={{ rapidpro_s3_bucket_prefix }}-archives'
Environment='ARCHIVER_S3_KEY={{ rapidpro_aws_access_key_id }}'
Environment='ARCHIVER_S3_SECRET={{ rapidpro_aws_secret_access_key }}'
Environment='ARCHIVER_VERBOSE=1'

ExecStart=/usr/local/bin/rp-archiver
Restart=on-failure

[Install]
WantedBy=multi-user.target
